
body {
  background-color: rgb(232, 217, 173);
}

h1 {
  color: maroon;
  font-size: 40px;
}

header {
  text-align: center;
}

#landscape {
  border-style: solid;
  border-width: 1px ;
  position: relative;
  /*TODO make this more dynamic in terms of height. Way around clearfix?*/
  height: 200px;
}

.playerImage {
  width: 20%;
  border-style: solid;
  border-width: 1px ;
  position: absolute;
  left: 1%;
}

.secondPlayer {
  transform: scaleX(-1);
  left: 78%;
  border-style: solid;
  border-width: 1px ;
}

#quivers {
  height: 50px;
  border-style: solid;
  border-width: 1px ;
  border-color: blue;
}

.square {
  float: left;
  /*border-style: solid;
  border-width: 1px;*/
  height: 13.5px;
  width: 1.5%;
  /*background-color: white;*/
}

.activated {
  /*background-color: grey;*/
  background-image: url(images/Arrow.png);
  background-size: 100%;
}
