body {
  background-color: rgb(185, 160, 86);
}
h1 {
  color: maroon;
  font-size: 40px;
}
header {
  text-align: center;
}
#landscape {
  /*border-style: solid;
  border-width: 1px;*/
  position: relative;
  /*TODO make this more dynamic in terms of height. Way around clearfix?*/
  height: 200px;
}
.playerImage {
  width: 20%;
  /*border-style: solid;
  border-width: 1px;*/
  position: absolute;
  left: 1%;
}
.secondPlayer {
  transform: scaleX(-1);
  left: 78%;
  /*border-style: solid;
  border-width: 1px;*/
}
#battleground {
  position: absolute;
  height: 50px;
  width: 25%;
  left: 37.5%;
  top: 25%;
  /*border-style: solid;
  border-width: 1px;
  border-color: blue;*/
  text-align: center;
}
#quivers {
  height: 50px;
  /*border-style: solid;
  border-width: 1px;
  border-color: blue;*/
  text-align: center;
}
.square {
  height: 14px;
  width: 1.5%;
  background-image: url(images/Arrow.png);
  background-size: 100%;
}
.square.one {
  float: left;
}
.square.two {
  float: right;
  transform: scaleX(-1);
}
.resultArrow {
  margin: 10px;
  background-image: url(images/Arrow.png);
  background-size: 100%;
  height: 120%;
  width: 70px;
  position: relative;
  left: 37%;
  transform: rotate(-42deg);
}
.resultArrow.one {
  transform: rotate(-180deg);
}
.resultArrow.two {
  transform: rotate(90deg);
}
