body {
  background-color: rgb(185, 160, 86);
  font-family: Eagle Lake;
  min-width: 870px;
}
h1 {
  color: rgb(128, 20, 20);
  font-size: 40px;
  font-family: Eagle Lake;
  margin-bottom: 0px;
  margin-top: 0px;
}
header {
  text-align: center;
  margin-bottom: 35px;
}
header p {
  margin-top: 0px;
  font-size: .7em;
}
#landscape {
  position: relative;
  /*TODO make this more dynamic in terms of height. Way around clearfix?*/
  height: 200px;
}
.playerImage {
  width: 20%;
  position: absolute;
  left: 1%;
}
.secondPlayer {
  transform: scaleX(-1);
  left: 78%;
}
#battleground {
  position: absolute;
  height: 50px;
  width: 55%;
  left: 22.5%;
  text-align: center;
}
#quivers {
  height: 50px;
  text-align: center;
}
.square {
  height: 13.4px;
  width: 15.8px;
  background-image: url(images/Arrow.png);
  background-size: 100%;
}
.square.one {
  float: left;
}
.square.two {
  float: right;
  transform: scaleX(-1);
}
.resultArrow {
  margin: 10px auto;
  background-image: url(images/Arrow.png);
  background-size: 100%;
  height: 120%;
  width: 70px;
  position: relative;
  top: 25%;
  transform: rotate(-42deg);
}
.resultArrow.one {
  transform: rotate(-180deg);
}
.resultArrow.two {
  transform: rotate(90deg);
}
.card {
  background-image: url("images/cardBack.png");
  background-size: 100%;
  border-color: #808080 #000000 #000000 #808080;
  border-width: 1px;
  border-style: solid;
  font-size: 20pt;
  position: relative;
  width: 3.75em;
  height: 5.20em;
}
.card.one {
  float: left;
}
.card.two {
  float: right;
}
.card.activated {
  background-color: red;
  color: white;
}
.content {
  position: relative;
  top: 32%;
  font-size: 40px;
}
#score1 {
  font-size: .8em;
}
